#main-content {
  position: fixed;
  top: 0;
  left:0;
  color:aliceblue;
}

#info {
	position: absolute;
	top: 10px;
	width: 100%;
	text-align: center;
	z-index: 100;
	display:block;
}

#canvas {
  position: absolute;
  top: 0;
  left: 0;
}

header{
  margin-bottom: 300px;
}

main {
  width: 100vw;
  position: absolute;
  width: 100%;
  margin: 0px;
  z-index: 99;

  padding: 100px 0px;
  color: rgb(32, 24, 99);
  font-family: 'Audiowide', sans-serif;
}

h1 {
  font-family: 'Audiowide', sans-serif;
  text-align: center;
  color: rgb(221 218 241);
  margin-top: 20%;
  font-size: 5em;

}
h2 {
  text-align: center;
  color: rgb(221 218 241);
}

header {
  margin-bottom: 300px;
}

blockquote {
  text-align: center;
  color: rgb(0, 0, 0);
  font-family: 'Audiowide', sans-serif;
}

section {
  width: 60%;
  padding: 20px;
  margin: 200px auto;
  color:rgb(236, 226, 164);
  background-image: linear-gradient(rgba(154, 154, 170, 0.411), rgba(241, 212, 114, 0.349));
  box-shadow:
    3px 3px 0 #000,
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
    1px 1px 0 #000;
}

blockquote {
  margin-bottom: 100px;
  color: gold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 12px;
}

 #VRButton{ bottom: auto !important; top: 10px; }