#main-content {
  position: fixed;
  top: 0;
  left:0;
  color:aliceblue;
}

#info {
	position: absolute;
	top: 10px;
	width: 100%;
	text-align: center;
	z-index: 100;
	display:block;
}

#canvas {
  position: absolute;
  top: 0;
  left: 0;
}

header{
  margin-bottom: 300px;
}

main {
  width: 100vw;
  position: absolute;
  width: 100%;
  margin: 0px;
  z-index: 99;

  padding: 100px 0px;
  color: rgb(32, 24, 99);
  font-family: 'Audiowide', sans-serif;
}

h1 {
  font-family: 'Audiowide', sans-serif;
  text-align: center;
  color: rgb(221 218 241);
  margin-top: 20%;
  font-size: 5em;

}
h2 {
  text-align: center;
  color: rgb(221 218 241);
}

header {
  margin-bottom: 300px;
}

blockquote {
  text-align: center;
  color: rgb(0, 0, 0);
  font-family: 'Audiowide', sans-serif;
}

section {
  width: 60%;
  padding: 20px;
  margin: 200px auto;
  color:rgb(236, 226, 164);
  background-image: linear-gradient(rgba(154, 154, 170, 0.411), rgba(241, 212, 114, 0.349));
  box-shadow:
    3px 3px 0 #000,
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
    1px 1px 0 #000;
}

blockquote {
  margin-bottom: 100px;
  color: gold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 12px;
}

/* Style the video: 100% width and height to cover the entire window */
#myVideo {
  width: 100%;
  height: 100%;
  right: 0;
  bottom: 0;
  border: #000;
  border-radius: 10px;
}

/* Add some content at the bottom of the video/page */
.content {
  position: relative;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  padding: 20px;
}

/* Style the button used to pause/play the video */
#myBtn {
  width: 148px;
  font-size: 10px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
  position: relative;
}

#myBtn:hover {
  background: #ddd;
  color: black;

}

#myMute {
  width: 148px;
  font-size: 10px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
  position: relative;
}

#myMute:hover {
  background: #ddd;
  color: black;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

 /* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
 .flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color:none;
  align-items: center;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color:#0a1aa8a8;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: small;
  color: gold;
  filter: grayscale(100%);
  align-items: stretch;
  transform: rotateY(180deg);
} 


 #VRButton{ bottom: auto !important; top: 10px; }